server {
    listen                  443 ssl http2 default_server;
    listen                  [::]:443 ssl http2 default_server;

    server_name             example.com www.example.com;

    # document root
    set                     $base /var/www/example.com;
    root                    $base/html;

    # auth_basic
    #set                     $auth_dir /;
    #set                     $auth_message "Restricted Content";
    #set                     $auth_user_file $base/.htpasswd

    # SSL
    ssl_certificate         /etc/letsencrypt/live/example.com/fullchain.pem;
    ssl_certificate_key     /etc/letsencrypt/live/example.com/privkey.pem;
    ssl_trusted_certificate /etc/letsencrypt/live/example.com/chain.pem;

    # security
    include                 nginxconfig.io/security.conf;

    # logging
    access_log              /var/www/example.com/logs/access.log;
    error_log               /var/www/example.com/logs/error.log warn;

    # additional config
    include                 nginxconfig.io/general.conf;

    # additional includes

    location / {
        ssi on;
        set $inc $request_uri;
        index   index.php index.shtml index.html index.htm index.pl;
        location ~ ^/(.+\.php)$ {
            include nginxconfig.io/fastcgi74.conf;
        }
        try_files $uri $uri/ /index.php?$query_string;
        # internal includes
    }

    # additional handles
    #include                 nginxconfig.io/letsencrypt.conf
    #include                 nginxconfig.io/roundcube.conf
    #include                 nginxconfig.io/phpmyadmin.conf
    #include                 nginxconfig.io/mailman.conf
}

# subdomains redirect
server {
    listen                  443 ssl http2;
    listen                  [::]:443 ssl http2;

    server_name             *.example.com;

    # SSL
    ssl_certificate /etc/letsencrypt/live/example.com/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/example.com/privkey.pem; # managed by Certbot
    ssl_trusted_certificate /etc/letsencrypt/live/example.com/chain.pem;

    return                  301 https://example.com$request_uri;

}

# HTTP redirect
server {
    listen                  80 default_server;
    listen                  [::]:80 default_server;

    server_name             .example.com;

    include                 nginxconfig.io/letsencrypt.conf;

    location / {
#        return 301 https://example.com$request_uri;
        error_page 497 https://example.com$request_uri;
    }
}
